#main-frame {
    position: fixed;
    overflow-y: hidden;
    height: 100%;
    width:100vw
}

/* HEADER STYLES */
header {
    padding: 1rem 2rem;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {

}

.user-icon {
    height: 40px;
    width: 40px;
    background-color: #B7B7B7;
    border: 0 solid transparent;
    border-radius: 100px;
}

/* HEADER STYLES */

/* MAIN CONTENT SECTION */
.main-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
}



/* MAIN CONTENT SECTION */

/* ASIDE STYLES */
aside {
    height: 100%;
    background-color: #F7F7F7;
    padding: 1rem;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    overflow-y: scroll;
}

.aside-header {
    font-size: 1.2em;
    font-weight: 500;
    font-family: var(--nuns);
    color: #dddddd;
}

.block-header {
    font-size: 1.2em;
    letter-spacing: 1px;
    font-weight: 400;
    color: #6e6e6e;
    cursor: pointer;
}

.block-header:active {
    color: #575757;
}

.aside-nav-link {
    font-size: 1em;
    font-family: var(--nuns);
    font-weight: 300;
    color: #909090;
}

nav, nav .block {
    padding-left: .5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

nav .block {
    gap: .5rem;
}

nav .block ul {
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .7rem;
}
/* ASIDE STYLES */

/* OUTLET SECTION */
#outlet-section {
    height: 100%;
    width:100%;
    padding: 1rem 2rem;
}

.outlet-header {
    font-size: 1.5em;
    letter-spacing: 1px;
    font-weight: 500;
    color: #5a5a5a;
}




/* OUTLET SECTION */