<section id="main-frame">

  <header>
    <div class="logo"></div>
    <div class="user-icon"></div>
  </header>

  <aside>
    <span class="aside-header">
      DASHBOARD MENU
    </span>

    <nav>
      <div class="shop-block">
        <ul class="shop">
          <li><a href="#" class="aside-nav-link">Product details</a></li>
          <li><a href="#" class="aside-nav-link">Create new product</a></li>
          <li><a href="#" class="aside-nav-link">View all products</a></li>
        </ul>
      </div>
    </nav>

  </aside>

  <section id="outlet-section">

    <span class="outlet-header">
      DASHBOARD
    </span>

    <div class="outlet-parent">
      <router-outlet></router-outlet>
    </div>
    
  </section>
  

</section>